/*****variables de colores********/
body, html {
  background-color: #7c7b7b;
  font-family: 'Kdam Thmor Pro', sans-serif;
  color: #292727;
  max-width: 100%;
  padding: 0%;
  margin: 0%; }

.logo {
  width: 70px;
  height: 70px; }

.nav_color {
  background-color: #7c7b7b;
  color: rgba(1, 65, 175, 0.877); }

.nav_color:hover {
  background-color: rgba(1, 65, 175, 0.877);
  color: rgba(255, 255, 255, 0.815); }

h1 {
  color: #ffd900;
  font-size: xx-large;
  text-align: center;
  width: 100vw;
  font-size: 4rem;
  padding-top: 1rem; }

h2 {
  color: #ff2f2f;
  text-align: center;
  font-size: x-large;
  padding-top: 2rem; }

/*******SECTION***********/
.carouseltitulo1 {
  color: #ff2f2f; }
  .carouseltitulo1carouseltitulo1:hover {
    background-color: #292727;
    color: #ffd900;
    border: solid 2px #ff2f2f; }

.carouseltexto1 {
  color: #ff2f2f; }
  .carouseltexto1carouseltexto1:hover {
    background-color: #292727;
    color: #ffd900;
    border: solid 2px #ff2f2f; }

.carouseltitulo2 {
  color: rgba(1, 65, 175, 0.877); }
  .carouseltitulo2carouseltitulo2:hover {
    background-color: rgba(255, 255, 255, 0.815);
    color: rgba(1, 65, 175, 0.877);
    border: solid 2px rgba(1, 65, 175, 0.877); }

.carouseltexto2 {
  color: rgba(1, 65, 175, 0.877); }
  .carouseltexto2carouseltexto2:hover {
    background-color: rgba(255, 255, 255, 0.815);
    color: rgba(1, 65, 175, 0.877);
    border: solid 2px rgba(1, 65, 175, 0.877); }

.carouseltitulo3 {
  color: #ff2f2f; }
  .carouseltitulo3carouseltitulo3:hover {
    background-color: #292727;
    color: #ff2f2f;
    border: solid 2px #ff2f2f; }

.carouseltexto3 {
  color: #ff2f2f; }
  .carouseltexto3carouseltexto3:hover {
    background-color: #292727;
    color: #ff2f2f;
    border: solid 2px #ff2f2f; }

h4 {
  color: rgba(1, 65, 175, 0.877);
  text-align: center;
  font-size: medium;
  padding: 2.5rem; }

hr {
  height: 1px;
  width: 100%;
  color: rgba(1, 65, 175, 0.877); }

.containercard {
  background-color: #7c7b7b;
  justify-items: center;
  align-items: center;
  max-width: 100%;
  margin: 0rem; }

.card {
  border: solid 5px #292727;
  background: #ffd900;
  color: #ff2f2f; }
  .cardhover {
    border: solid 5px #ffd900;
    background: rgba(1, 65, 175, 0.877);
    color: #ff2f2f; }

.donwas {
  margin-top: solid 5rem;
  display: flex;
  margin-left: auto;
  margin-right: auto; }

.videos {
  background-color: #7c7b7b;
  border: 5px solid rgba(255, 255, 255, 0.815); }

.formulario {
  background-color: #7c7b7b;
  color: #ff2f2f; }
  .formulario_hover {
    background-color: rgba(1, 65, 175, 0.877);
    color: #292727; }

.boton {
  background-color: #ffd900;
  color: rgba(1, 65, 175, 0.877); }

.boton1 {
  background-color: #ff2f2f;
  color: #292727; }

.boton2 {
  background-color: #ff2f2f;
  color: rgba(255, 255, 255, 0.815); }

.boton3 {
  background-color: #292727;
  color: rgba(255, 255, 255, 0.815); }

.amigos {
  font-size: large;
  text-align: center;
  background-color: #7c7b7b;
  color: rgba(1, 65, 175, 0.877);
  width: 100%;
  max-width: 100%;
  margin: 0%; }

.container {
  font-size: xx-small;
  color: rgba(1, 65, 175, 0.877);
  background-color: rgba(255, 255, 255, 0.815);
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  text-align: center; }

.nav-link {
  color: #ffd900;
  flex-wrap: wrap;
  width: 80%;
  max-width: 100%;
  margin: 0rem; }

.textofooter {
  font-size: xx-small;
  color: rgba(1, 65, 175, 0.877);
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  margin: 0rem; }
  .textofootertextofooter :hover {
    color: #292727;
    background-color: #ffd900; }

/*----Desktops*/
@media (min-width: 1199.98px) {
  body, html, main {
    background: #7c7b7b;
    width: 100%;
    max-width: 100%;
    padding: 0%;
    margin: 0%; } }

.container {
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  margin: 0rem; }

.nav-link {
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  margin: 0rem; }

.textofooter {
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  margin: 0rem; }

/*------Tablet-------*/
@media (min-width: 576px) and (max-width: 991.98px) {
  body, html, main {
    background: rgba(255, 255, 255, 0.815);
    width: 100%;
    max-width: 100%;
    padding: 0%;
    margin: 0%; }
  h1 {
    color: #292727;
    font-size: large;
    width: 100%; }
  h2 {
    color: rgba(1, 65, 175, 0.877);
    font-size: medium;
    width: 100%; }
  .containercard {
    justify-content: center;
    width: 100%;
    max-width: 100%;
    padding: 0%;
    margin: 0%;
    margin-top: 12px; }
  .card {
    background-color: #292727;
    color: rgba(255, 255, 255, 0.815);
    justify-content: center;
    width: 100%;
    max-width: 100%;
    margin: 0%; } }

.container {
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  margin: 0%; }

.nav-link {
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  margin: 0%; }

.navbar-text {
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  margin: 0%; }

/****HEAD*******/
/*******BODY*********/
/******DIV*********/
/******FOOTER***********/
