.formulario {
    background-color: $color_verderaro;
    color:  $color_rojo;
    &_hover{background-color: rgb(1, 112, 1);
      color: $color_negro;}  
    }
    
    .boton {background-color: $color_amarillo;
      color: $color_azul;}
      
      .boton1 {background-color: $color_rojo;
      color: $color_negro}
      
      .boton2 {background-color: $color_naranja;
      color: $color_blanco}
      
      .boton3 {background-color: $color_negro;
      color: $color_blanco}