
.containercard 
{background-color: $color_plateado;
  justify-items: center;
  align-items: center;
  max-width: 100%;
  margin: 0rem;
}



.card { 
  @include card(solid 5px $color_negro,$color_amarillo, $color_rojo)
    &hover {
      @include card(solid 5px $color_amarillo, $color_azul, $color_rojo )
      } 
  }

     .donwas {
       @include donwas ( solid 5rem, flex,auto, auto,)
     }



      .videos
{background-color: $color_plateado;
  border: 5px solid $color_blanco}