
.containercard 
{background-color: $color_plateado;
  justify-items: center;
  align-items: center;
}



.card
{background-color: $color_amarillo;
 color: $color_rojo;
 border: solid 5px $color_naranja;
 text-align: center;
&hover {background-color: $color_azul;
  color: $color_naranja;
border:solid 5px $color_amarillo}

}
.videos
{display: grid;
 grid-template-columns: 1fr 1fr 1fr ;
 grid-template-rows: 200px 200px;
 justify-items: center;
 align-items: center;

}

  
    .accordion-button {background-color: $color_negro;
      color: $color_blanco;
    &accordion-button :hover { color: $color_negro ;
      background-color: $color_blanco}
      
    }
    
    
    .accordion-item  {background-color: $color_negro;
      color: $color_blanco;
    &accordion-item :hover {color: $color_negro;
      background-color: $color_negro}
    }   
    
     

    .productos1 {
      color: $color_azul;
      font-size: small;
      }
    
    
    .productos2 {
      color: $color_naranja;
      font-size: x-small;
      &productos2 :hover {color: $color_azul}


     }
    
     
  
     .donwas {
      margin-top: 5rem;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      color: $color_rojo;
      background-color: $color_negro;}