@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

*_ { margin: 0%;
  padding: 0%;
  box-sizing: border-box;}



body, html {
background-color: rgb(124, 123, 123);
font-family:'Kdam Thmor Pro', sans-serif;
color:rgb(29, 28, 28)
}

.logo {
  width: 70px;
  height: 70px;
}

h1 {
  color: yellow;
  font-size: xx-large;
  text-align: center;
  width: 100vw;
  font-size: 4rem;
  margin: -1 rem}

  h2 {color: red;
  text-align: center;
padding-top: 2rem;}

  

.nav_color {
  background-color: rgb(175, 166, 166);
 ;
}


.carouseltitulo1 {color:goldenrod;}
.carouseltexto1 {color: goldenrod;}
.carouseltitulo2 {color: blue;}
.carouseltexto2 {color: blue;}
.carouseltitulo3 {color:red}
.carouseltexto3 {color: red;}


.card
{background: yellow;
 color: red;
 border: solid 5px goldenrod;
 
 
 
}
.accordion-button {background-color: black;
color: silver;}
.accordion-item {color: black;
background-color: silver;}

.formulario {
  background-color: yellowgreen;
  color: rgb(138, 11, 11);
 
}



h4 {
  color: blue;
  text-align: center;
  font-size: medium;
  padding: 2.5rem;
}
.productos1 {
  color: rgba(1, 65, 175, 0.877);
  font-size: small;
  
}

.productos2 {
  color: rgb(211, 147, 9);
  font-size: x-small;
 
}

.buscador
{background-color: black;
color: white;}

.amigos
{background-color: blue;}

.footer {background-color: blueviolet
  ;}