@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

*_ { margin: 0%;
  padding: 0%;
  box-sizing: border-box;}



body, html {
background-color: rgb(124, 123, 123);
font-family:'Kdam Thmor Pro', sans-serif;
color:rgb(29, 28, 28)
}

.logo {
  width: 70px;
  height: 70px;
}

h1 {
  color:rgb(255, 217, 0);
  font-size: xx-large;
  text-align: center;
  width: 100vw;
  font-size: 4rem;
  padding-top: 1rem;}

  h2 {color: rgb(255, 47, 47);
  text-align: center;
  font-size: x-large;
padding-top: 2rem;}

  

.nav_color {
  background-color:  rgb(124, 123, 123);
color: rgba(1, 65, 175, 0.877) }
.nav_color:hover {background-color: rgba(1, 65, 175, 0.877);
  color: rgba(255, 255, 255, 0.815))
 }  
 .carouseltitulo1 {color: rgb(214, 129, 0);}
 .carouseltitulo1:hover {background-color: black;
  color: goldenrod;border: solid 2px rgb(214, 129, 0)}
 .carouseltexto1 {color: rgb(214, 129, 0);}
 .carouseltexto1:hover {background-color: rgb(29, 28, 28);
  color: goldenrod; border: solid 2px rgb(214, 129, 0)}
 .carouseltitulo2 {color: rgba(1, 65, 175, 0.877)) }
 .carouseltitulo2:hover {background-color: rgba(255, 255, 255, 0.815);
  color: blue; border: solid 2px rgba(1, 65, 175, 0.877))}
  .carouseltexto2 {color: rgba(1, 65, 175, 0.877) }
 .carouseltexto2:hover {background-color: rgba(255, 255, 255, 0.815);
  color: blue; border: solid 2px rgba(1, 65, 175, 0.877))}
.carouseltitulo3 {color: rgb(255, 47, 47)}
.carouseltitulo3:hover {background-color: rgb(29, 28, 28);
  color:red;border:  solid 2px rgb(255, 47, 47)}
.carouseltexto3 {color: rgb(255, 47, 47);}
.carouseltexto3:hover {background-color: rgb(29, 28, 28);
  color: red;  border: solid 2px rgb(255, 47, 47)}

.containercard 
{background-color: rgb(124, 123, 123);
  justify-items: center;
  align-items: center;

}

.card
{background-color: rgb(255, 217, 0);
 color:rgb(255, 47, 47);
 border: solid 5px rgb(214, 129, 0);
 text-align: center;
}
.card:hover {background-color: rgba(1, 65, 175, 0.877);
  color: rgb(214, 129, 0);
border:solid 5px rgb(255, 217, 0)}



.videos
{display: grid;
 grid-template-columns: 1fr 1fr 1fr ;
 grid-template-rows: 200px 200px;
 justify-items: center;
 align-items: center;

}



.accordion-button {background-color: rgb(29, 28, 28);
  color: rgba(255, 255, 255, 0.815);}
.accordion-button :hover {color: rgb(29, 28, 28);
background-color: rgba(255, 255, 255, 0.815)}


.accordion-item  {background-color: rgb(29, 28, 28);
  color: rgba(255, 255, 255, 0.815);}   
.accordion-item :hover {color: rgb(29, 28, 28);
background-color: rgba(255, 255, 255, 0.815)}


.formulario {
  background-color: yellowgreen;
  color: rgb(255, 47, 47);}
.formulario:hover{background-color: green;
color: rgb(29, 28, 28);} 

.boton {background-color: yellow;
color:rgba(1, 65, 175, 0.877))}

.boton1 {background-color: rgb(255, 47, 47);
color: rgb(29, 28, 28)}

.boton2 {background-color: rgb(214, 129, 0);
color: rgba(255, 255, 255, 0.815)}

.boton3 {background-color: rgb(29, 28, 28);
color: rgba(255, 255, 255, 0.815)}



h4 {
  color: rgba(1, 65, 175, 0.877);
  text-align: center;
  font-size: medium;
  padding: 2.5rem;
}


.productos1 {
  color:rgba(1, 65, 175, 0.877);
  font-size: small ;
  }
 


.productos2 {
  color: rgb(214, 129, 0);
  font-size: x-small;
 }

 .productos2 :hover {color: rgba(1, 65, 175, 0.877)}





.donwas {
  margin-top: 5rem;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  color: red;
  background-color: black;}


.amigos
  {
  font-size: large;
 background-color:  rgb(124, 123, 123);
color: rgba(1, 65, 175, 0.877)}

.container {font-size: xx-small;
color:   rgba(1, 65, 175, 0.877)  ;
background-color: rgba(255, 255, 255, 0.815);
flex-wrap: wrap;
}



.nav-link { color: rgb(255, 217, 0)}

.textofooter {font-size: xx-small;
  color: rgba(1, 65, 175, 0.877)
}

.textofooter:hover {background-color: rgb(255, 217, 0);
color: rgb(29, 28, 28);
}

/*----Desktops*/

@media (min-width: 1199.98px)  {
  body{background: rgb(124, 123, 123) }
}


/*------Tablet-------*/

@media (min-width: 576px) and (max-width: 991.98px)  {
  body{background: rgb(214, 129, 0); }
  h1 {color: rgb(29, 28, 28);
  font-size: large;}
  h2 {color:rgba(1, 65, 175, 0.877);
  font-size: medium;}
  .card {background-color: rgb(29, 28, 28);
  color: rgba(255, 255, 255, 0.815)}
  .videos {display: table-row;}

}



/*-------Mobile Firt-------*/


@media (min-width: 320px)and (max-width: 575.98px) {
  body{background: green;}

  .videos {display: table-row;}
  
}
  
  
